<li class="list-group-item item-field-<%= field %>">
  <div class="row">
    <div class="col-md-2 field-name"><%= field_name %></div>
    <div class="col-md-10 field-body field-body-<%= template %>">
      <%= field_value %>
    </div>
  </div>
</li>
